.forecast {
  margin-left: 0px;
  font-family: "Balsamiq Sans", cursive;
  padding-left: 0px;
}

.error-message,
.loading {
  margin: auto;
  font-family: "Balsamiq Sans", cursive;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.location-details {
  margin-left: 40px;
}

.location-wrapper {
  margin-top: 20px;
}

input:focus {
  outline: none;
}

button:focus {
  outline: none;
}

.wi {
  font-size: 30px;
  margin: 10px;
  margin-left: 0;
}

@media (max-width: 920px) {
  .location-details {
    margin-left: 20px;
  }
}
@media (max-width: 650px) {
  .forecast {
    display: flex;
    flex-direction: column;
  }
  .location-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .location-details {
    width: 50%;
    margin: auto;
    margin-top: 50px;
    margin-right: 80px;
    margin-left: 70px;
  }
  h1 {
    align-self: center;
    text-align: center;
  }

  .search-form {
    width: 50%;
    align-self: center;
    display: flex;
    flex-direction: column;
  }
  .search-button {
    margin-top: 5px;
    align-self: center;
    width: 40%;
    margin-bottom: 50px;
  }
  .forecast-summary {
    text-align: center;
  }
}
